

<div *ngFor="let result of addedMovie">
    <div class="all">
        <div class="pic">
                  <p><img class="image" src="https://image.tmdb.org/t/p/w500{{result.poster_path}}"></p>
        </div>
        <div class="words">
                  <h2 class="title">{{result.title}}</h2>
                  <p class="rate">Rating: {{result.vote_average}}</p>
                  <p class="about">{{result.overview}}</p>
                  <button type="submit" (click)="removeMovie(result)">Remove</button>
        </div>
    </div>
</div>
