<div class="search">
    <div></div>
    Rating:
    <select name="rating" [(ngModel)]="rating">

  <option value="poor">Poor</option>
  <option value="fair">Fair</option>
  <option value="good">Good</option>
  <option value="veryGood">Very Good</option>
  <option value="excellent">Excellent</option>
</select>
    <div></div>
    Genre:
    <select name="genre" [(ngModel)]="genre">
  <option value="action">Action</option>
  <option value="adventure">Adventure</option>
  <option value="animation">Animation</option>
  <option value="comedy">Comedy</option>
  <option value="crime">Crime</option>
  <option value="documentary">Documentary</option>
  <option value="drama">Drama</option>
  <option value="family">Family</option>
  <option value="fantasy">Fantasy</option>
  <option value="history">History</option>
  <option value="horror">Horror</option>
  <option value="music">Music</option>
  <option value="mystery">Mystery</option>
  <option value="romance">Romance</option>
  <option value="science fiction">Science Fiction</option>
  <option value="tv movie">TV Movie</option>
  <option value="thriller">Thriller</option>
  <option value="war">War</option>
  <option value="western">Western</option>
</select> Length:
    <select name="length" [(ngModel)]="length">
  <option value="ltHour">Under an Hour</option>
  <option value="hour">One Hour</option>
  <option value="hourHalf">Hour and a Half</option>
  <option value="twoHours">Two Hours</option>
  <option value="overHour">Over Two Hours</option>
</select>
    <div></div>
    <button type="submit" (click)="returnMovie(genre)">Submit</button>

</div>
