.page {
    background-image: url("Netflix-Background.jpg");
    height: 10000px;
    width: 100%;
}

.search-bar {
    background-color: red;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search {
    font-size: 40px;
    font-style: italic;
    padding-left: 20px;
    color: white;
    justify-content: space-between;
}

.movie {
    font-size: 40px;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.watch {
    font-size: 40px;
    font-style: italic;
    padding-left: 20px;
    color: white;
    padding-right: 20px;
} 

